
#wrapper
  #columns
    - @content.shuffle.take(50).each do |c|
      .pin.text
        .row.p-10
          = c[:content]
        .row.p-10
          %a{href: "move?file=#{c[:file]}", class: "btn btn-primary"} Move
