!!!
/[if IE 9 ] <html class="ie9">
%html
  %head
    %meta{charset: "utf-8"}/
    %meta{content: "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %meta{content: "width=device-width, initial-scale=1", name: "viewport"}/
    %title Environment
    %link{href: "vendors/animate-css/animate.min.css", rel: "stylesheet"}/
    %link{href: "css/app.min.css", rel: "stylesheet"}/
    %link{href: "css/pin.css", rel: "stylesheet"}/
  %body
    = partial :header
    %section#main
      = partial :menu
      /= partial :chat
      %section#content
        .container
          = yield
    %script{src: "js/jquery-2.1.1.min.js"}
    %script{src: "js/bootstrap.min.js"}
    %script{src: "vendors/nicescroll/jquery.nicescroll.min.js"}
    %script{src: "vendors/waves/waves.min.js"}
    %script{src: "vendors/bootstrap-growl/bootstrap-growl.min.js"}
    %script{src: "vendors/sweet-alert/sweet-alert.min.js"}
    %script{src: "js/functions.js"}
