%aside#sidebar
  .sidebar-inner
    .si-inner
      .profile-menu
        %a{href: ""}
          .profile-pic
            %img{alt: "", src: "img/profile-pics/2.jpg"}/
      %ul.main-menu
        %li
          %a{href: "/"}
            %i.md.md-dashboard
            Dashboard
        %li
          %a{href: "/environment"}
            %i.md.md-terrain
            Environment
        %li
          %a{href: "/users"}
            %i.md.md-people
            Users
