%aside#sidebar
  .sidebar-inner
    .si-inner
      .profile-menu
        %a{href: "/"}
          .profile-pic

      %ul.main-menu
        %li
          %a{href: "/math"}
            %i.md.md-trending-neutral
            Math
        %li
          %a{href: "/images"}
            %i.md.md-perm-media
            Images
        %li
          %a{href: "/steps"}
            %i.md.md-dashboard
            Steps

