%aside#sidebar
  .sidebar-inner
    .si-inner
      .profile-menu
        %a{href: ""}
          .profile-pic
      %ul.main-menu
        %li
          %a{href: "/"}
            /%i.md.md-dashboard
            Images
        %li
          %a{href: "/environment"}
            /%i.md.md-terrain
            Symbols
        /%li
        /  %a{href: "/users"}
        /    %i.md.md-people
        /    Users
