%aside#sidebar
  .sidebar-inner
    .si-inner
      .profile-menu
        %a{href: "/"}
          .profile-pic

      %ul.main-menu
        %li
          %a{href: "/compile"}
            %i.md.md-people
            Math
        %li
          %a{href: "/steps"}
            %i.md.md-dashboard
            Steps

