%li.dropdown
  %a.tm-settings{"data-toggle" => "dropdown", href: ""}
  %ul.dropdown-menu.dm-icon.pull-right
    %li
      %a{"data-action" => "fullscreen", href: ""}
        %i.md.md-fullscreen
        Toggle Fullscreen
    %li
      %a{"data-action" => "clear-localstorage", href: ""}
        %i.md.md-delete
        Clear Local Storage
    %li
      %a{href: ""}
        %i.md.md-person
        Privacy Settings
    %li
      %a{href: ""}
        %i.md.md-settings
        Other Settings
